:root {
	--primary: #e7a451;
	--primary--hover: #da9a4d;
	--text-black: #303030;
	--text-black--hover: #414141;
	--bg-gray: #f0f0f0;
	--input-gray: #ebebeb;
	--button-gray: #dadada;
	--button-gray--hover: #c7c7c7;

	--game-grid: #e8ddd1;
	--game-grid-border: #9f9992;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: 'Rubik', sans-serif;
}

body {
	height: 100vh;
	color: var(--text-black);
}

.container {
	width: 85%;
	max-width: 768px;
	height: 100%;
	margin: 0 auto;
}

.main {
	height: calc(100vh - 64px);
	position: relative;
}

.button {
	background-color: var(--primary);
	color: white;
	font-weight: 600;
	border: none;
	width: 100%;
	padding: 15px 40px;
	border-radius: 4px;
	margin-top: 10px;
}

.button:hover {
	background-color: var(--primary--hover);
	transition: 200ms;
}

/* Nav */

.nav {
	height: 64px;
	background-color: var(--bg-gray);
}

.nav .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__back-link {
	font-weight: 600;
	cursor: pointer;
}

.nav__back-link:hover {
	color: var(--text-black--hover);
}

.nav__back-link--game {
	display: none;
}

/* Menu */

.menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}

.menu-wrapper {
	height: 100%;
	max-width: 320px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu__title {
	font-size: 3.2rem;
	margin-bottom: 40px;
}

.menu__title span {
	color: var(--primary);
}

.menu__input-group {
	margin-bottom: 40px;
	width: 100%;
}

.menu_label {
	display: block;
	margin-bottom: 5px;
	font-size: 0.9rem;
}

.menu_input {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 4px;
	border: none;
	background-color: var(--input-gray);
	font-size: 1.1rem;
}

/* Game Over */

.game-over {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.game-over .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-over-wrapper {
	display: relative;
	z-index: 20;
	background-color: white;
	padding: 40px;
	border-radius: 4px;
	text-align: center;
	max-width: 380px;
}

.game-over__result {
	font-size: 2.6rem;
	color: var(--primary);
	margin-bottom: 20px;
}

.game-over__stats {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.game-over__stats span {
	margin: 0 10px;
}

/* Game */

.game {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.game-content {
	flex: 1;
}

.game-content .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game-stats {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.game-stats span {
	font-size: 1.2rem;
	margin: 10px;
}

.game-grid {
	background-color: var(--game-grid);
	height: 320px;
	width: 320px;
	border-radius: 4px;
	border: solid 5px var(--game-grid-border);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	padding: 2px;
}

.game-grid__tile {
	background-color: rgb(255, 93, 93);
	display: grid;
	place-items: center;
	color: white;
	font-weight: 600;
	font-size: 1.4rem;
	border-radius: 4px;
	margin: 4px;
}

.game-controls {
	display: none;
	width: 100%;
	background-color: var(--bg-gray);
}

.game-controls .container {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px 0;
}

.game-controls__button {
	height: 50px;
	width: 50px;
	display: grid;
	place-items: center;
	background-color: var(--button-gray);
	border-radius: 60px;
	font-weight: 600;
	cursor: pointer;
}

.game-controls__button:hover {
	background-color: var(--button-gray--hover);
	transition: 200ms;
}

.game-controls__button svg {
	height: 40px;
	width: 40px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
	.game-controls {
		display: block;
	}
}

@media screen and (max-width: 640px) {
	.container {
		width: 100%;
		padding: 0 32px;
	}

	.game-over__result {
		font-size: 2rem;
	}

	.game-stats span {
		font-size: 1.1rem;
	}
}
